.entry-content {
	.wp-block-button__link {
		@include fluid-type(600px, 1200px, 17px, 19px);
		font-weight: 500;
		font-family: $font__heading;
		padding: 8px 30px 7px;
		border-radius: 30px;
		box-shadow: none !important;
		transition: background 200ms cubic-bezier(0.645, 0.045, 0.355, 1), border 200ms cubic-bezier(0.645, 0.045, 0.355, 1), color 200ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 200ms cubic-bezier(0.645, 0.045, 0.355, 1);

		&:not(.has-background) {
			&,
			&:hover,
			&:active,
			&:focus {
				background-color: $black
			}
		}

		&:hover {
			box-shadow: none;
			opacity: 0.8;
		}
	}
}
